<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ati_sensor">

    <material name="gray">
      <color rgba="0.5 0.5 0.5 1"/>
    </material>

    <xacro:macro name="ati_sensor" params="name">

      <!-- ati_sensor link -->
      <link name="${name}ati_mini_40">
        <visual>
          <geometry>
            <mesh filename="package://ati_sensor/../ati_sensor_description/meshes/ati_mini_40_complete.STL"/>
          </geometry>
          <material name="gray" />
        </visual>
      </link>

    </xacro:macro>

</robot>
