<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="ur5" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />

  <!-- arm -->
  <property name="robot_name" value="ur5_"/>
  <property name="robot_base" value="${robot_name}base_link"/>
  <property name="robot_ee" value="${robot_name}tool0"/>
  <xacro:ur5e_robot prefix="${robot_name}" joint_limited="$(arg limited)"/>

  <!-- ==========  End-effector link  ============= -->
  <link name="ee_link" />

  <joint name="ee_${robot_name}joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <parent link="${robot_ee}"/>
      <child link="ee_link"/>
  </joint>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "ur5_base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0" />
  </joint>

</robot>
