<?xml version="1.0"?>

<launch>

  <arg name="use_sim" default="false" />

  <arg name="ati_ip" default="192.168.1.1" />
  <arg name="use_ati" default="false" />

  <arg name="robot_ip" default="10.0.0.1" />
  <arg name="reverse_port" default="8080" />

  <arg name="publish_jstates_topic" default="/robot_joint_states"/>

  <!-- robot model -->
  <param name="my_robot_description" command="$(find xacro)/xacro.py '$(find grav_comp)/urdf/ur5_phriTool_robot_description.xacro'" />

  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find grav_comp)/rviz/ur_test.rviz" output="screen" required="true"/>

  <node pkg="grav_comp" type="grav_comp" name="grav_comp_node"
        output="screen" cwd="node">

    <param name="use_sim" value="$(arg use_sim)"/>
    
    <param name="robot_ip" type="string" value="$(arg robot_ip)" />
    <param name="reverse_port" value="$(arg reverse_port)"/>

    <rosparam>
      robot_type: "ur"
      CoM_filename: "CoM.yaml"
      wrench_orient_data_filename: "data.bin"

      pub_jstates_flag: true

      use_sim: false

      ee_tool_rot: [1, 0, 0, 0, 1, 0, 0, 0, 1]

      robot_description_name: "/my_robot_description"
      base_link: "base_link"
      tool_link: "ee_link"
      ftsensor_link: "ftsensor_link"
    </rosparam>

  </node>

</launch>
