<?xml version="1.0"?>

<launch>

    <arg name="node_name" default="grav_comp_node" />
    <node pkg="grav_comp" type="grav_comp" name="$(arg node_name)"
          output="screen" cwd="node">

          <rosparam>
            robot_type: "lwr4p"
            CoM_filename: "CoM.yaml"

            ee_tool_rot: [0, 0, 1, 0, -1, 0, 1, 0, 0]
          </rosparam>

    </node>

</launch>
